{% extends 'base.html' %}
{% load static %}

{% block title %}CUST App - Categories{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Application Categories</h4>
            <p class="card-category">Browse available request types</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">description</i></div>
                    <p class="card-category">Bonafide Letter</p>
                    <h3 class="card-title"><a href="/new-application/">Apply</a></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon"><i class="material-icons">language</i></div>
                    <p class="card-category">English Proficiency</p>
                    <h3 class="card-title"><a href="/new-application/">Apply</a></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon"><i class="material-icons">school</i></div>
                    <p class="card-category">Admission on Merit</p>
                    <h3 class="card-title"><a href="/new-application/">Apply</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}