{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>CUST App - New Application</title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
  <style>
    .file-input-wrapper {
      position: relative;
      display: inline-block;
    }
    .file-input {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }
    .file-name {
      padding: 5px 10px;
      border: 1px solid #ccc;
      display: inline-block;
      margin-top: 10px;
      color: #555;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="#" class="simple-text logo-mini">CT</a>
        <a href="#" class="simple-text logo-normal">CUST App</a>
      </div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo"><img src="../assets/img/faces/avatar.jpg" /></div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>Tania Andrew <b class="caret"></b></span>
            </a>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="/user/dashboard/"><i class="material-icons">dashboard</i><p>Dashboard</p></a></li>
          <li class="nav-item active"><a class="nav-link" href="/myapplications/"><i class="material-icons">view_list</i><p>View Existing Applications</p></a></li>
          <li class="nav-item"><a class="nav-link" href="/categories/"><i class="material-icons">category</i><p>Categories</p></a></li>
          <li class="nav-item"><a class="nav-link" href="/new-application/"><i class="material-icons">note_add</i><p>New Application</p></a></li>
          <li class="nav-item"><a class="nav-link" href="/reports/"><i class="material-icons">bar_chart</i><p>Reports</p></a></li>
          <li class="nav-item"><a class="nav-link" href="/support/"><i class="material-icons">help</i><p>Support</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper"><a class="navbar-brand" href="#">New Application</a></div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Submit New Application</h4>
                  <p class="card-category">Complete the form below</p>
                </div>
                <div class="card-body">
                  <form id="applicationForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Request Type</label>
                          <select class="form-control" id="applicationType" name="applicationType">
                            <option value="">Select Application Type</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Student Name</label>
                          <input type="text" class="form-control" id="studentName" disabled value="Tania Andrew">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Student ID</label>
                          <input type="text" class="form-control" id="studentId" name="studentId" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Comments</label>
                          <textarea class="form-control" rows="3" id="comments" name="comments"></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- File Upload Button -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="fileUpload">Upload File</label>
                          <div class="file-input-wrapper">
                            <input type="file" class="file-input" id="fileUpload" name="file" />
                            <div class="file-name" id="fileName">No file selected</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit Application</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/material-dashboard.js' %}?v=2.2.2" type="text/javascript"></script>

  <script>
    $(document).ready(function() {
      function loadApplicationTypes() {
        $.ajax({
          url: `/api/applications/`,
          method: 'GET',
          success: function(response) {
            const select = $('#applicationType');
            response.forEach(app => {
              select.append(`<option value="${app.id}">${app.name}</option>`);
            });
          },
          error: function(xhr, status, error) {
            console.error('Error fetching application types:', error);
            alert('Failed to load application types. Please try again later.');
          }
        });
      }

      $('#applicationForm').submit(function(e) {
        e.preventDefault();

        const applicationId = $('#applicationType').val();
        const studentId = $('#studentId').val();
        const comments = $('#comments').val();
        const file = $('#fileUpload')[0].files[0];

        if (!applicationId || !studentId) {
          alert('Please select an application type and enter your student ID.');
          return;
        }

        const formData = new FormData();
        formData.append('applicationID', applicationId);
        formData.append('studentID', studentId);
        formData.append('comments', comments);
        if (file) formData.append('file', file);

        $.ajax({
          url: `/api/application-request/`,
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            alert(response.message);
            $('#applicationForm')[0].reset();
            $('#applicationType').html('<option value="">Select Application Type</option>');
            loadApplicationTypes();
            $('#fileName').text('No file selected');
          },
          error: function(xhr, status, error) {
            console.error('Error submitting application:', error);
            alert('Failed to submit application. Please try again.');
          }
        });
      });

      $('#fileUpload').change(function() {
        const fileName = this.files.length > 0 ? this.files[0].name : 'No file selected';
        $('#fileName').text(fileName);
      });

      loadApplicationTypes();
    });
  </script>
</body>
</html>
